<div class="control is-horizontal">
  <div class="control-label">
    <label class="label">性別</label>
  </div>
  <div class="control is-grouped">
    <label class="radio">
      <input type="radio" name="gender" value="male" v-on:click="handleGenderClick" v-model="privateState.gender">
      男
    </label>
    <label class="radio">
      <input type="radio" name="gender" value="female" v-on:click="handleGenderClick" v-model="privateState.gender">
      女
    </label>
  </div>
</div>
<div class="control is-horizontal">
  <div class="control-label">
    <label class="label">寿命</label>
  </div>
  <div class="control is-grouped">
    <input
      type="text"
      class="input"
      v-bind:class="{ 'is-danger': !validation.lifeSpan }"
      v-model="sharedState.lifeSpan"
      number
    >
  </div>
</div>
<div class="control is-horizontal">
  <div class="control-label">
    <label class="label">生年月日</label>
  </div>
  <div id="birth" class="control is-grouped">
    <input
      type="text"
      class="input year"
      v-bind:class="{ 'is-danger': !validation.year() }"
      placeholder="年"
      v-model="sharedState.year"
      number
    >
        <span class="select">
          <select
            class="month"
            v-bind:class="{ 'is-danger': !validation.month }"
            v-model="sharedState.month"
            number
          >
            <option value="0">月</option>
            <option v-for="i in 12" value="{{ i + 1 }}">{{ i + 1 }}</option>
          </select>
        </span>
        <span class="select">
          <select
            class="day"
            v-bind:class="{ 'is-danger': !validation.day }"
            v-model="sharedState.day"
            number
          >
            <option value="0">日</option>
            <option v-for="i in 31" value="{{ i + 1 }}">{{ i + 1 }}</option>
          </select>
        </span>
  </div>
</div>
